Repository njdifiore91/saas-metrics-v3-07vato, changes with the owners that .github/CODEOWNERS names for each.
All owners: @startup-metrics/lead-architects, @startup-metrics/security-team, @startup-metrics/database-team, @startup-metrics/backend-team, @startup-metrics/frontend-team, @startup-metrics/devops-team, @startup-metrics/tech-writers, @startup-metrics/qa-team

.github/CODEOWNERS:

# for different parts of the startup metrics platform codebase.
# Format: path/to/file team-or-username[@organization]

# Default owners for everything in the repo
* @startup-metrics/lead-architects

# Security-Critical Components
/src/backend/services/auth/** @startup-metrics/security-team @startup-metrics/lead-architects
/src/backend/services/database/migrations/** @startup-metrics/security-team @startup-metrics/database-team

# Backend Services
/src/backend/services/metrics/** @startup-metrics/backend-team
/src/backend/services/benchmark/** @startup-metrics/backend-team
/src/backend/** @startup-metrics/backend-team

# Frontend Application
/src/web/components/** @startup-metrics/frontend-team
/src/web/pages/** @startup-metrics/frontend-team
/src/web/** @startup-metrics/frontend-team

# Infrastructure
/infrastructure/terraform/** @startup-metrics/devops-team
/infrastructure/kubernetes/** @startup-metrics/devops-team
/infrastructure/** @startup-metrics/devops-team

# Database
/src/backend/services/database/prisma/** @startup-metrics/database-team
/src/backend/services/database/** @startup-metrics/database-team

# Documentation
/docs/api/** @startup-metrics/tech-writers @startup-metrics/backend-team
/docs/architecture/** @startup-metrics/tech-writers @startup-metrics/lead-architects
*.md @startup-metrics/tech-writers
/docs/** @startup-metrics/tech-writers

# GitHub Specific Files
/.github/** @startup-metrics/devops-team

# Test Files
/tests/** @startup-metrics/qa-team

# Package Dependencies
/package.json @startup-metrics/lead-architects
/yarn.lock @startup-metrics/lead-architects

# Environment and Configuration
*.env* @startup-metrics/security-team @startup-metrics/devops-team
/config/** @startup-metrics/devops-team

# CI/CD Pipeline
/.github/workflows/** @startup-metrics/devops-team

Add public-samples/saas-metrics-v3-07vato/infrastructure/terraform/environments/staging/variables.tf
  infrastructure/terraform/environments/staging/variables.tf
Owners: @startup-metrics/devops-team

Add public-samples/saas-metrics-v3-07vato/infrastructure/terraform/modules/ecs/main.tf
  infrastructure/terraform/modules/ecs/main.tf
Owners: @startup-metrics/devops-team

Add public-samples/saas-metrics-v3-07vato/infrastructure/terraform/modules/ecs/outputs.tf
  infrastructure/terraform/modules/ecs/outputs.tf
Owners: @startup-metrics/devops-team

Add public-samples/saas-metrics-v3-07vato/infrastructure/terraform/modules/ecs/variables.tf
  infrastructure/terraform/modules/ecs/variables.tf
Owners: @startup-metrics/devops-team

Add public-samples/saas-metrics-v3-07vato/infrastructure/terraform/modules/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Owners: @startup-metrics/devops-team

Add public-samples/saas-metrics-v3-07vato/infrastructure/terraform/modules/monitoring/outputs.tf
  infrastructure/terraform/modules/monitoring/outputs.tf
Owners: @startup-metrics/devops-team

Add public-samples/saas-metrics-v3-07vato/infrastructure/terraform/modules/monitoring/variables.tf
  infrastructure/terraform/modules/monitoring/variables.tf
Owners: @startup-metrics/devops-team

Add public-samples/saas-metrics-v3-07vato/infrastructure/terraform/modules/networking/main.tf
  infrastructure/terraform/modules/networking/main.tf
Owners: @startup-metrics/devops-team

Add public-samples/saas-metrics-v3-07vato/infrastructure/terraform/modules/networking/outputs.tf
  infrastructure/terraform/modules/networking/outputs.tf
Owners: @startup-metrics/devops-team

Add public-samples/saas-metrics-v3-07vato/infrastructure/terraform/modules/networking/variables.tf
  infrastructure/terraform/modules/networking/variables.tf
Owners: @startup-metrics/devops-team

Add public-samples/saas-metrics-v3-07vato/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @startup-metrics/devops-team

Add public-samples/saas-metrics-v3-07vato/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @startup-metrics/devops-team

Add public-samples/saas-metrics-v3-07vato/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @startup-metrics/devops-team

Add public-samples/saas-metrics-v3-07vato/infrastructure/terraform/modules/redis/main.tf
  infrastructure/terraform/modules/redis/main.tf
Owners: @startup-metrics/devops-team

Add public-samples/saas-metrics-v3-07vato/infrastructure/terraform/modules/redis/outputs.tf
  infrastructure/terraform/modules/redis/outputs.tf
Owners: @startup-metrics/devops-team

Add public-samples/saas-metrics-v3-07vato/infrastructure/terraform/modules/redis/variables.tf
  infrastructure/terraform/modules/redis/variables.tf
Owners: @startup-metrics/devops-team

Add public-samples/saas-metrics-v3-07vato/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/.env.example
  src/backend/.env.example
Owners: @startup-metrics/security-team, @startup-metrics/devops-team

Add public-samples/saas-metrics-v3-07vato/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/README.md
  src/backend/README.md
Owners: @startup-metrics/tech-writers

Add public-samples/saas-metrics-v3-07vato/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/lerna.json
  src/backend/lerna.json
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/package.json
  src/backend/package.json
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/proto/auth.proto
  src/backend/proto/auth.proto
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/proto/benchmark.proto
  src/backend/proto/benchmark.proto
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/proto/metrics.proto
  src/backend/proto/metrics.proto
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/scripts/build.sh
  src/backend/scripts/build.sh
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/scripts/deploy.sh
  src/backend/scripts/deploy.sh
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/scripts/generate-proto.sh
  src/backend/scripts/generate-proto.sh
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/scripts/test.sh
  src/backend/scripts/test.sh
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/api-gateway/Dockerfile
  src/backend/services/api-gateway/Dockerfile
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/api-gateway/package.json
  src/backend/services/api-gateway/package.json
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/api-gateway/tsconfig.json
  src/backend/services/api-gateway/tsconfig.json
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/api-gateway/src/app.ts
  src/backend/services/api-gateway/src/app.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/api-gateway/src/config/index.ts
  src/backend/services/api-gateway/src/config/index.ts
Owners: @startup-metrics/backend-team
