Repository njdifiore91/saas-metrics-v3-07vato, changes with the owners that .github/CODEOWNERS names for each.
All owners: @startup-metrics/lead-architects, @startup-metrics/security-team, @startup-metrics/database-team, @startup-metrics/backend-team, @startup-metrics/frontend-team, @startup-metrics/devops-team, @startup-metrics/tech-writers, @startup-metrics/qa-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/api-gateway/src/middleware/auth.middleware.ts
  src/backend/services/api-gateway/src/middleware/auth.middleware.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/api-gateway/src/middleware/rateLimit.middleware.ts
  src/backend/services/api-gateway/src/middleware/rateLimit.middleware.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/api-gateway/src/routes/benchmarks.routes.ts
  src/backend/services/api-gateway/src/routes/benchmarks.routes.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/api-gateway/src/routes/companies.routes.ts
  src/backend/services/api-gateway/src/routes/companies.routes.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/api-gateway/src/routes/index.ts
  src/backend/services/api-gateway/src/routes/index.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/api-gateway/src/routes/metrics.routes.ts
  src/backend/services/api-gateway/src/routes/metrics.routes.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/api-gateway/src/utils/logger.ts
  src/backend/services/api-gateway/src/utils/logger.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/api-gateway/test/integration/routes.test.ts
  src/backend/services/api-gateway/test/integration/routes.test.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/api-gateway/test/unit/middleware.test.ts
  src/backend/services/api-gateway/test/unit/middleware.test.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/auth/Dockerfile
  src/backend/services/auth/Dockerfile
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/auth/package.json
  src/backend/services/auth/package.json
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/auth/tsconfig.json
  src/backend/services/auth/tsconfig.json
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/auth/src/app.ts
  src/backend/services/auth/src/app.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/auth/src/config/index.ts
  src/backend/services/auth/src/config/index.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/auth/src/controllers/auth.controller.ts
  src/backend/services/auth/src/controllers/auth.controller.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/auth/src/middleware/jwt.middleware.ts
  src/backend/services/auth/src/middleware/jwt.middleware.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/auth/src/models/user.model.ts
  src/backend/services/auth/src/models/user.model.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/auth/src/services/google-oauth.service.ts
  src/backend/services/auth/src/services/google-oauth.service.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/auth/src/services/token.service.ts
  src/backend/services/auth/src/services/token.service.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/auth/src/utils/encryption.ts
  src/backend/services/auth/src/utils/encryption.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/auth/test/integration/auth.test.ts
  src/backend/services/auth/test/integration/auth.test.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/auth/test/unit/services.test.ts
  src/backend/services/auth/test/unit/services.test.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/benchmark/Dockerfile
  src/backend/services/benchmark/Dockerfile
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/benchmark/README.md
  src/backend/services/benchmark/README.md
Owners: @startup-metrics/tech-writers

Add public-samples/saas-metrics-v3-07vato/src/backend/services/benchmark/pyproject.toml
  src/backend/services/benchmark/pyproject.toml
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/benchmark/requirements.txt
  src/backend/services/benchmark/requirements.txt
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/benchmark/setup.py
  src/backend/services/benchmark/setup.py
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/benchmark/src/__init__.py
  src/backend/services/benchmark/src/__init__.py
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/benchmark/src/app.py
  src/backend/services/benchmark/src/app.py
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/benchmark/src/config.py
  src/backend/services/benchmark/src/config.py
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/benchmark/src/controllers/benchmark_controller.py
  src/backend/services/benchmark/src/controllers/benchmark_controller.py
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/benchmark/src/models/benchmark_model.py
  src/backend/services/benchmark/src/models/benchmark_model.py
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/benchmark/src/services/aggregation_service.py
  src/backend/services/benchmark/src/services/aggregation_service.py
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/benchmark/src/services/data_processing_service.py
  src/backend/services/benchmark/src/services/data_processing_service.py
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/benchmark/src/utils/calculations.py
  src/backend/services/benchmark/src/utils/calculations.py
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/benchmark/tests/__init__.py
  src/backend/services/benchmark/tests/__init__.py
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/benchmark/tests/integration/test_benchmark_api.py
  src/backend/services/benchmark/tests/integration/test_benchmark_api.py
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/benchmark/tests/unit/test_calculations.py
  src/backend/services/benchmark/tests/unit/test_calculations.py
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/database/Dockerfile
  src/backend/services/database/Dockerfile
Owners: @startup-metrics/database-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/database/package.json
  src/backend/services/database/package.json
Owners: @startup-metrics/database-team

.github/CODEOWNERS:

# for different parts of the startup metrics platform codebase.
# Format: path/to/file team-or-username[@organization]

# Default owners for everything in the repo
* @startup-metrics/lead-architects

# Security-Critical Components
/src/backend/services/auth/** @startup-metrics/security-team @startup-metrics/lead-architects
/src/backend/services/database/migrations/** @startup-metrics/security-team @startup-metrics/database-team

# Backend Services
/src/backend/services/metrics/** @startup-metrics/backend-team
/src/backend/services/benchmark/** @startup-metrics/backend-team
/src/backend/** @startup-metrics/backend-team

# Frontend Application
/src/web/components/** @startup-metrics/frontend-team
/src/web/pages/** @startup-metrics/frontend-team
/src/web/** @startup-metrics/frontend-team

# Infrastructure
/infrastructure/terraform/** @startup-metrics/devops-team
/infrastructure/kubernetes/** @startup-metrics/devops-team
/infrastructure/** @startup-metrics/devops-team

# Database
/src/backend/services/database/prisma/** @startup-metrics/database-team
/src/backend/services/database/** @startup-metrics/database-team

# Documentation
/docs/api/** @startup-metrics/tech-writers @startup-metrics/backend-team
/docs/architecture/** @startup-metrics/tech-writers @startup-metrics/lead-architects
*.md @startup-metrics/tech-writers
/docs/** @startup-metrics/tech-writers

# GitHub Specific Files
/.github/** @startup-metrics/devops-team

# Test Files
/tests/** @startup-metrics/qa-team

# Package Dependencies
/package.json @startup-metrics/lead-architects
/yarn.lock @startup-metrics/lead-architects

# Environment and Configuration
*.env* @startup-metrics/security-team @startup-metrics/devops-team
/config/** @startup-metrics/devops-team

# CI/CD Pipeline
/.github/workflows/** @startup-metrics/devops-team
