Repository njdifiore91/saas-metrics-v3-07vato, changes with the owners that .github/CODEOWNERS names for each.
All owners: @startup-metrics/lead-architects, @startup-metrics/security-team, @startup-metrics/database-team, @startup-metrics/backend-team, @startup-metrics/frontend-team, @startup-metrics/devops-team, @startup-metrics/tech-writers, @startup-metrics/qa-team

.github/CODEOWNERS:

# for different parts of the startup metrics platform codebase.
# Format: path/to/file team-or-username[@organization]

# Default owners for everything in the repo
* @startup-metrics/lead-architects

# Security-Critical Components
/src/backend/services/auth/** @startup-metrics/security-team @startup-metrics/lead-architects
/src/backend/services/database/migrations/** @startup-metrics/security-team @startup-metrics/database-team

# Backend Services
/src/backend/services/metrics/** @startup-metrics/backend-team
/src/backend/services/benchmark/** @startup-metrics/backend-team
/src/backend/** @startup-metrics/backend-team

# Frontend Application
/src/web/components/** @startup-metrics/frontend-team
/src/web/pages/** @startup-metrics/frontend-team
/src/web/** @startup-metrics/frontend-team

# Infrastructure
/infrastructure/terraform/** @startup-metrics/devops-team
/infrastructure/kubernetes/** @startup-metrics/devops-team
/infrastructure/** @startup-metrics/devops-team

# Database
/src/backend/services/database/prisma/** @startup-metrics/database-team
/src/backend/services/database/** @startup-metrics/database-team

# Documentation
/docs/api/** @startup-metrics/tech-writers @startup-metrics/backend-team
/docs/architecture/** @startup-metrics/tech-writers @startup-metrics/lead-architects
*.md @startup-metrics/tech-writers
/docs/** @startup-metrics/tech-writers

# GitHub Specific Files
/.github/** @startup-metrics/devops-team

# Test Files
/tests/** @startup-metrics/qa-team

# Package Dependencies
/package.json @startup-metrics/lead-architects
/yarn.lock @startup-metrics/lead-architects

# Environment and Configuration
*.env* @startup-metrics/security-team @startup-metrics/devops-team
/config/** @startup-metrics/devops-team

# CI/CD Pipeline
/.github/workflows/** @startup-metrics/devops-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/database/tsconfig.json
  src/backend/services/database/tsconfig.json
Owners: @startup-metrics/database-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/database/prisma/migrations/0000_initial_setup.sql
  src/backend/services/database/prisma/migrations/0000_initial_setup.sql
Owners: @startup-metrics/database-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/database/prisma/migrations/0001_user_schema.sql
  src/backend/services/database/prisma/migrations/0001_user_schema.sql
Owners: @startup-metrics/database-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/database/prisma/migrations/0002_metrics_schema.sql
  src/backend/services/database/prisma/migrations/0002_metrics_schema.sql
Owners: @startup-metrics/database-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/database/prisma/migrations/0003_benchmark_schema.sql
  src/backend/services/database/prisma/migrations/0003_benchmark_schema.sql
Owners: @startup-metrics/database-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/database/src/client.ts
  src/backend/services/database/src/client.ts
Owners: @startup-metrics/database-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/database/src/seeds/development.ts
  src/backend/services/database/src/seeds/development.ts
Owners: @startup-metrics/database-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/database/src/seeds/test.ts
  src/backend/services/database/src/seeds/test.ts
Owners: @startup-metrics/database-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/metrics/Dockerfile
  src/backend/services/metrics/Dockerfile
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/metrics/package.json
  src/backend/services/metrics/package.json
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/metrics/tsconfig.json
  src/backend/services/metrics/tsconfig.json
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/metrics/src/app.ts
  src/backend/services/metrics/src/app.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/metrics/src/config/index.ts
  src/backend/services/metrics/src/config/index.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/metrics/src/controllers/metrics.controller.ts
  src/backend/services/metrics/src/controllers/metrics.controller.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/metrics/src/models/metric.model.ts
  src/backend/services/metrics/src/models/metric.model.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/metrics/src/services/calculation.service.ts
  src/backend/services/metrics/src/services/calculation.service.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/metrics/src/services/validation.service.ts
  src/backend/services/metrics/src/services/validation.service.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/metrics/src/utils/formulas.ts
  src/backend/services/metrics/src/utils/formulas.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/metrics/test/integration/metrics.test.ts
  src/backend/services/metrics/test/integration/metrics.test.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/backend/services/metrics/test/unit/calculations.test.ts
  src/backend/services/metrics/test/unit/calculations.test.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v3-07vato/src/web/.dockerignore
  src/web/.dockerignore
Owners: @startup-metrics/frontend-team

Add public-samples/saas-metrics-v3-07vato/src/web/.env.example
  src/web/.env.example
Owners: @startup-metrics/security-team, @startup-metrics/devops-team

Add public-samples/saas-metrics-v3-07vato/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @startup-metrics/frontend-team

Add public-samples/saas-metrics-v3-07vato/src/web/.prettierrc
  src/web/.prettierrc
Owners: @startup-metrics/frontend-team

Add public-samples/saas-metrics-v3-07vato/src/web/Dockerfile
  src/web/Dockerfile
Owners: @startup-metrics/frontend-team

Add public-samples/saas-metrics-v3-07vato/src/web/README.md
  src/web/README.md
Owners: @startup-metrics/tech-writers

Add public-samples/saas-metrics-v3-07vato/src/web/index.html
  src/web/index.html
Owners: @startup-metrics/frontend-team

Add public-samples/saas-metrics-v3-07vato/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @startup-metrics/frontend-team

Add public-samples/saas-metrics-v3-07vato/src/web/package.json
  src/web/package.json
Owners: @startup-metrics/frontend-team

Add public-samples/saas-metrics-v3-07vato/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @startup-metrics/frontend-team

Add public-samples/saas-metrics-v3-07vato/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @startup-metrics/frontend-team

Add public-samples/saas-metrics-v3-07vato/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @startup-metrics/frontend-team

Add public-samples/saas-metrics-v3-07vato/src/web/src/index.tsx
  src/web/src/index.tsx
Owners: @startup-metrics/frontend-team

Add public-samples/saas-metrics-v3-07vato/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @startup-metrics/frontend-team

Add public-samples/saas-metrics-v3-07vato/src/web/src/assets/fonts/index.ts
  src/web/src/assets/fonts/index.ts
Owners: @startup-metrics/frontend-team

Add public-samples/saas-metrics-v3-07vato/src/web/src/assets/styles/global.css
  src/web/src/assets/styles/global.css
Owners: @startup-metrics/frontend-team

Add public-samples/saas-metrics-v3-07vato/src/web/src/assets/styles/theme.ts
  src/web/src/assets/styles/theme.ts
Owners: @startup-metrics/frontend-team

Add public-samples/saas-metrics-v3-07vato/src/web/src/components/auth/GoogleAuthButton.tsx
  src/web/src/components/auth/GoogleAuthButton.tsx
Owners: @startup-metrics/frontend-team

Add public-samples/saas-metrics-v3-07vato/src/web/src/components/auth/ProtectedRoute.tsx
  src/web/src/components/auth/ProtectedRoute.tsx
Owners: @startup-metrics/frontend-team

Add public-samples/saas-metrics-v3-07vato/src/web/src/components/charts/AreaChart.tsx
  src/web/src/components/charts/AreaChart.tsx
Owners: @startup-metrics/frontend-team
